[project]
name = "{{ project_name_kebab_case }}"
version = "0.0.0"  # This is a placeholder, version is determined by git tag during CI/CD
description = "{{ description }}"
authors = [{ name = "{{ author_name }}", email = "{{ author_email }}" }]
requires-python = ">=3.13"
readme = "README.md"
dependencies = [
    {%- if is_lambda_project %}
    "aws-lambda-powertools>=3.16.0,<4",
    {%- endif %}
]

[dependency-groups]
dev = [
    "copier>=9.11.3,<10",
    "fawltydeps>=0.20.0,<1.0.0",
    "ipython>=9.9.0,<10",
    "mypy>=1.19.1,<2",
    "pytest-asyncio>=1.3.0,<2",
    "pytest-cov>=7.0.0,<8",
    "pytest-mock>=3.15.1,<4",
    "pytest>=9.0.2,<10",
    "ruff>=0.14.14,<0.15.0",
    {%- if is_docker_project %}
    "dotenv-linter>=0.7.0,<1",
    "pytest-env>=1.2.0,<2",
    "python-dotenv>=1.2.1,<2",
    {%- endif %}
]

{%- if is_lambda_project %}
[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
{%- endif %}

[tool.uv]
package = false

[tool.ruff]
line-length = 120

[tool.ruff.lint]
#  See https://docs.astral.sh/ruff/rules/ for more information.
select = [
    "PT",   # flake8-pytest-style
    "B",    # flake8-bugbear
    "S",    # flake8-bandit
    "A",    # flake8-builtins
    "COM",  # flake8-commas
    "C4",   # flake8-comprehensions
    "T10",  # flake8-debugger
    "I",    # isort
    "T20",  # flake8-print
    "SIM",  # flake8-simplify
    "LOG",  # flake8-logging
    "G",    # flake8-logging-format
    "N",    # pep8-naming
    "E",    # pycodestyle
    "W",    # pycodestyle
    "F",    # pyflakes
    ]
ignore = ["S101", "A003", "B904", "N818", "COM812"]

[tool.ruff.lint.flake8-pytest-style]
fixture-parentheses = true
mark-parentheses = true

[tool.ruff.lint.isort]
order-by-type = false
known-first-party = ["{{ project_name_snake_case }}"]

[tool.coverage.report]
exclude_lines = [
    "if TYPE_CHECKING:",
    "raise NotImplementedError()",
]

[tool.fawltydeps]
code = ["{{ project_name_snake_case }}"]
deps = ["pyproject.toml"]
ignore_unused = [
    # Dev dependencies. This list should contain ALL of them!
    "copier",
    "fawltydeps",
    "ipython",
    "mypy",
    "pytest-asyncio",
    "pytest-cov",
    "pytest-mock",
    "pytest",
    "ruff",
    {%- if is_docker_project %}
    "dotenv-linter",
    "pytest-env",
    "python-dotenv",
    {%- endif %}
]

[tool.mypy]
disallow_untyped_defs = true
ignore_missing_imports = true
no_implicit_optional = false
disable_error_code = "misc"

[tool.pytest.ini_options]
python_files = ["tests.py", "test_*.py", "*_tests.py"]
addopts = "--strict-markers -p no:warnings --cov=. --cov-fail-under=90 --cov-config=.coveragerc"
asyncio_mode = "auto"
{%- if is_docker_project %}

[tool.pytest_env]
FLAVOR = "test"
DEBUG = "True"
SERVICE_NAME = "{{ project_name_kebab_case }}"
{%- endif %}
