# {{ project_name }}

{{ description }}

1. Build docker image:
    ```
    docker compose build {{ project_name }}
    ```

2. Run docker container:
    ```
    docker compose {{ project_name }} run bash
    ```
    or with make
    ```
    make dc_bash
    ```

3. Run tests:
    ```
    make test
    ```
